* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Ukrainian-Head-Regular", sans-serif;
}

:root {
  --blue: #0c79e6;
  --white: #fff;
  --black: #000;
  --mainColor: #333;
}

@font-face {
  font-family: "Ukrainian-Head";
  src: url(../fonts/e-Ukraine-Head/e-UkraineHead-Bold.otf);
}

@font-face {
  font-family: "Ukrainian-Head-Regular";
  src: url(../fonts/e-Ukraine-Head/e-UkraineHead-Regular.otf);
}

body {
  background: #141e30;
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
}

.card {
  position: absolute;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 1.2rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 0px 50px #00000050;
  box-shadow: 0px 0px 50px #00000050;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: "Ukrainian-Head", sans-serif;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 1.2rem;
  gap: 1.4rem;
}

.wave-group {
  position: relative;
}

.wave-group .input {
  font-family: "Ukrainian-Head", sans-serif;
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 22.5rem;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}

.wave-group .input:focus {
  outline: none;
}

.wave-group .label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Ukrainian-Head", sans-serif;
}

.wave-group .label-char {
  font-family: "Ukrainian-Head", sans-serif;
  -webkit-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  -webkit-transition-delay: calc(var(--index) * 0.05s);
  -o-transition-delay: calc(var(--index) * 0.05s);
  transition-delay: calc(var(--index) * 0.05s);
}

.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  font-size: 14px;
  color: var(--blue);
}

.wave-group .bar {
  position: relative;
  display: block;
  width: inherit;
}

.wave-group .bar:before,
.wave-group .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--blue);
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
  left: 50%;
}

.wave-group .bar:after {
  right: 50%;
}

.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
  width: 50%;
}

.form__btn {
  padding: 17px 40px;
  border-radius: 10px;
  border: 0;
  background-color: var(--blue);
  letter-spacing: 1.5px;
  font-size: 20px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: #096ed3 0px 10px 0px 0px;
  box-shadow: #096ed3 0px 10px 0px 0px;
  color: var(--white);
  cursor: pointer;
  font-family: "Ukrainian-Head", sans-serif;
}

.form__btn:hover {
  -webkit-box-shadow: #096ed3 0px 7px 0px 0px;
  box-shadow: #096ed3 0px 7px 0px 0px;
}

.form__btn:active {
  -webkit-box-shadow: #096ed3 0px 0px 0px 0px;
  box-shadow: #096ed3 0px 0px 0px 0px;
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
}

.result {
  text-align: center;
}

.result__title {
  font-size: 2rem;
}

.horoscope__title {
  font-family: "Ukrainian-Head", sans-serif;
  font-weight: 900;
  font-size: 3rem;
}

.horoscope__img img {
  width: 30%;
  margin: 20px 0;
}

.horoscope__text p {
  font-size: 1rem;
  text-align: start;
}

.result {
  margin-left: 50px;
}

.loading {
  position: relative;
  margin-top: 1.5rem;
  text-align: center;
  -webkit-transition: 1.4s;
  -o-transition: 1.4s;
  transition: 1.4s;
  z-index: 2;
  margin-left: 50px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--blue);
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--blue) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
  animation-delay: -0.15s;
}
@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.hide {
  opacity: 0;
}

.error {
  margin-left: 30px;
  text-align: center;
  color: red;
}

.error__img i {
  font-size: 3rem;
  padding-bottom: 10px;
}

.error__title {
  font-family: "Ukrainian-Head", sans-serif;
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
  .wave-group .input {
    width: 46.875vw;
  }
  .card__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
  }
  .result {
    margin-left: 0;
  }
  .loading {
    margin-left: 0px;
  }
}

/* 0 - 576px */
@media screen and (max-width: 576px) {
  .wave-group .input {
    width: 62.5vw;
  }
}

@media screen and (max-width: 450px) {
  .card {
    margin-top: 20vw;
    width: 90%;
  }
  .wave-group .input {
    width: 80vw;
  }
  .title {
    font-size: 10vw;
  }
  .horoscope__title {
    font-size: 10vw;
  }
  .form__btn {
    font-size: 4vw;
    padding: 3.5vw 8.8vw;
  }
}
